.frequentQuestion-section {
 
    padding: 0 0 8rem 12rem; /* 0px 0 120px 0 */
    line-height: 2.6rem; /* 46px */
    display: flex;
    align-items: center;
    max-width: 50%;
  }
  
  .frequentQuestion-section h1 {
    letter-spacing: 2.3rem; /* remains as it is */
  }
  
  .frequentQuestion-section ul li {
    list-style: none;
  }
  .frequentQuestion-section ul li .faq-answer{
    margin-left: 3rem;
    line-height: 2.1rem; 
  }
  .frequentQuestion-section ul li img {
    width: 1.5rem; /* remains as it is */
    margin: 0 1.5625rem 0 0; /* 0 25px 0 0px */
  }
  
  .frequentQuestion-section div strong {
    color: #545454;
  }